<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= meta.title %></title>
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
</head>
<body>
    <main>
        <h1><%= meta.title %></h1>
        <%- include(template, { scope: JSON.stringify(scope) }) %>
    </main>

    <script src="https://unpkg.com/petite-vue" defer init></script>
</body>
</html>